# Binaries
bin/
*.exe

# Go
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
*.pem
*.key

# Build
tmp/
dist/

# Test
coverage.out
coverage.html

# ggcode
.ggcode/
service.test
sdk/python/ggid.egg-info/
sdk/python/ggid/__pycache__/
